@import url('https://rsms.me/inter/inter.css');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

:root {
  /* primary colors */
  --black: #272831;
  --white: #fff;
  --orange: #ec5242;
  --gray: #d3d3d3;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 98%;
  height: fit-content;
  font-family: 'COCOGOOSE', sans-serif;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

li :hover {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
}

.header-links {
  overflow: hidden;
  width: 100%;
  height: 50%;
  background: #4b4a4a;
}

.bar-menu {
  display: block;
  position: absolute;
  top: 5rem;
  flex-direction: column;
  width: 100%;
  height: 200px;
  left: -100%;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.header-links.active {
  height: 600px;
  background: #4b4a4a;
  z-index: 1;
  width: 100%;
}

.header.active {
  height: 100%;
}

.bar-menu.active {
  display: flex;
  flex-direction: row;
  width: 100%;
  left: 0;
  color: #fdf9f9;
  background: #4b4a4a;
  line-height: 32px;
  min-height: 500px;
  margin-top: 0;
  align-items: flex-end;
}

.menu-list.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  left: 20px;
  line-height: 32px;
  min-height: 150px;
  margin-top: 0;
  text-align: left;
  font-size: 16px;
}

.bar-item a {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.menu-list.active a {
  font-family: 'COCOGOOSE', serif;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.main-container.active,
.menu-nav.active {
  display: none;
}

.menu-nav {
  height: 63%;
  background: #f8f2f2;
  overflow: hidden;
}

.logo {
  display: none;
  margin-left: 10%;
}

.logo-image {
  display: none;
  width: 100px;
  height: 40px;
}

.menu-list {
  display: block;
  position: absolute;
  top: 5rem;
  flex-direction: column;
  width: 100%;
  height: 200px;
  left: -100%;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.bar1 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f7f1f1;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
  color: black;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  color: black;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger1.active .bar1:nth-child(2) {
  opacity: 0;
}

.hamburger1.active .bar1:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger1.active .bar1:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger1 {
  display: block;
  cursor: pointer;
  float: left;
  margin-top: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  width: 100%;
  background: url('../images/header1.png');
}

.bar-icon {
  width: 40px;
  height: 30px;
}

.fa {
  border-radius: 50%;
  padding: 5px;
  text-decoration: none;
  height: 10px;
  color: #d2d2d2;
  font-size: 16px;
}

.header-links.active .fa {
  color: #fff;
}

.headline {
  width: 98%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-left: 15px;
  margin-top: 120px;
}

.greeting {
  font: bold;
  font-size: 20px;
  color: #ec5242;
  text-align: center;
  margin-top: 48px;
}

.headline-title {
  flex-grow: 0;
  order: 0;
  gap: 10px;
  color: #ec5242;
  font-size: 32px;
  font-weight: 700;
  margin-top: 2px;
  font-family: 'COCOGOOSE', sans-serif;
  text-align: center;
  background-image: url('../images/text-background1.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-detail {
  flex-grow: 0;
  order: 1;
  gap: 10px;
  font-family: 'COCOGOOSE', sans-serif;
  text-align: left;
  margin-top: 15px;
}

.date-info {
  flex-grow: 0;
  order: 2;
  gap: 10px;
  font-family: 'COCOGOOSE', sans-serif;
  text-align: left;
  margin: 35px 0 20px 0;
}

.date {
  font-size: 28px;
  font-weight: 600;
}

.main-program {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url('../images/Partners.jpg');
  background-size: cover;
  align-items: center;
}

.main-program-title {
  text-align: center;
  font-size: 24px;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 500;
  margin: 10px 0 10px 0;
  color: #f2f2f2;
  order: 0;
}

.program-list {
  display: flex;
  flex-direction: column;
  height: fit-content;
  order: 1;
  align-items: center;
  margin-left: 10px;
}

.program {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 120px;
  background: #3c3a3aef;
  align-items: center;
  margin: 15px 5px;
  gap: 5px;
  color: #d2d2d2;
}

.main-program :hover {
  border: 1px solid white;
}

.program-name {
  font-size: 16px;
  font-family: 'COCOGOOSE', serif;
  font-weight: 400;
  width: 100px;
  align-items: center;
  margin-right: 15px;
  color: #ec5242;
}

.program-description {
  font-size: 12px;
  font-family: 'COCOGOOSE', serif;
  font-weight: 200;
  width: 60%;
  align-items: center;
  color: #d2d2d2;
}

.degree-icon {
  width: 50px;
  height: 50px;
  margin: 10px 30px;
  border: none;
}

.join-btn {
  width: 350px;
  height: 80px;
  font-size: 16px;
  font-weight: 200;
  font-family: 'COCOGOOSE', serif;
  text-align: center;
  background-color: #ec5242;
  color: #d2d2d2;
  border-radius: 10px;
  margin-bottom: 30px;
  order: 2;
}

.instructor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 10px;
  align-items: center;
  position: absolute;
}

.instructor-title {
  font-size: 24px;
  font-family: 'COCOGOOSE', serif;
  font-weight: 500;
  text-align: center;
  height: 50px;
  order: 0;
  position: absolute;
  margin-top: 15px;
  margin-bottom: 20px;
}

.instructor-card1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  gap: 20px;
}

.instructor-card2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  gap: 20px;
}

.instructor-card3 {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  gap: 20px;
}

.instructor-card3.active,
.instructor-card4.active,
.instructor-card5.active,
.instructor-card6.active {
  display: flex;
}

.instructor-card4 {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  gap: 20px;
}

.instructor-card5 {
  display: none;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  gap: 20px;
}

.instructor-card6 {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  gap: 20px;
}

.instructor-card7 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  gap: 20px;
}

.photo-container {
  display: flex;
  width: 120px;
  height: 200px;
  background: url('../images/photo-back.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  order: 0;
  position: absolute;
}

.instructor-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 1;
  margin-left: 170px;
  margin-top: 30px;
  height: fit-content;
}

.instructor-photo {
  width: 100px;
  height: 100px;
  right: 0;
  position: absolute;
  bottom: 0;
  background: #273a31;
}

.instructor-name {
  font-size: 24px;
  font-weight: 400;
  font-family: 'COCOGOOSE', serif;
}

.job {
  color: #ec5242;
}

.instructor-info {
  /* float: right; */
  padding-top: 30px;
}

.more {
  display: block;
  width: 80%;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin-top: 30px;
}

.fa-chevron-circle-down {
  color: #ec5242;
}

.partner-section {
  display: none;
}

.foot-note {
  display: none;
}

.more-btn {
  display: block;
}

.btn {
  width: 80%;
  padding: 15px;
  cursor: pointer;
  border: 1px solid var(--gray);
  font-weight: bold;
}

.btn span i {
  font-size: 20px;
  position: relative;
  top: 2px;
  padding: 5px;
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    height: fit-content;
  }

  .header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #565353;
  }

  .bar-menu {
    display: flex;
    flex-direction: row;
    left: 60%;
    align-items: center;
    transition: none;
    border-radius: 0;
    padding: 1rem 5rem;
    height: 40px;
    top: 0;
    width: fit-content;
  }

  .bar-item a {
    float: right;
    display: block;
    color: #eee7e7;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
  }

  .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    left: 20px;
    transition: none;
    border-radius: 0;
    padding: 1rem 5rem;
    width: 95%;
    top: 3rem;
    position: fixed;
    justify-content: right;
  }

  .menu-item a {
    float: right;
    display: block;
    color: #171616;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 16px;
  }

  .logo {
    display: block;
    left: 10px;
    margin-top: 0;
  }

  .logo-image {
    display: block;
    margin-left: 40px;
  }

  .bar-item :hover {
    color: coral;
    text-decoration: none;
  }

  .menu-item :hover {
    color: crimson;
    text-decoration: none;
  }

  .logo-text {
    padding: 1rem 5rem;
    height: 50px;
    color: #171616;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .a :hover {
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  .hamburger1 {
    display: none;
  }

  .headline {
    width: 700px;
    align-items: flex-start;
    margin-left: 150px;
    margin-top: 160px;
  }

  .headline-title {
    font-size: 48px;
    text-align: left;
  }

  .headline-detail {
    text-align: left;
    background-color: white;
  }

  .cc {
    border: 2px solid #ec5242;
    padding-left: 20px;
    font-weight: bold;
  }

  .main-program {
    display: flex;
    flex-direction: column;
  }

  .program-list {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .program {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    align-items: center;
    padding-top: 10px;
  }

  .indicator {
    width: 48px;
    height: 4px;
    background: #ec5242;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .program-name,
  .program-description {
    text-align: center;
    width: 90%;
    margin-top: 10px;
  }

  .instructor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 78%;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }

  .instructor-title {
    top: 0;
  }

  .instructor-card1 {
    margin-left: px;
    width: 30%;
    flex-grow: 1;
    margin-top: 80px;
    align-items: center;
  }

  .instructor-card2 {
    width: 30%;
    flex-grow: 1;
    margin-top: 80px;
  }

  .instructor-card3 {
    display: flex;
    width: 40%;
    flex-grow: 1;
    margin-left: 25px;
  }

  .instructor-card4 {
    display: flex;
    width: 40%;
    flex-grow: 1;
  }

  .instructor-card5 {
    display: flex;
    width: 40%;
    flex-grow: 1;
    margin-left: 25px;
  }

  .instructor-card6 {
    display: flex;
    width: 40%;
    flex-grow: 1;
  }

  .more {
    display: none;
  }

  .more-btn {
    display: none;
  }

  .partner-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    background: #1c1c1c;
    margin-top: 890px;
  }

  .footer-title {
    text-align: center;
    font-family: 'COCOGOOSE', serif;
    font-size: 16px;
    padding-top: 10px;
    color: #959292;
  }

  .partners-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    justify-content: center;
  }

  .partner a {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
  }

  .fa-airbnb {
    color: hsl(0, 0%, 83%);
  }

  .fa-brands {
    color: #959292;
  }

  .indicator-footer {
    width: 48px;
    height: 4px;
    background: #ec5242;
    border-radius: 24px;
  }

  .mozila {
    font-size: 16px;
    font-family: 'COCOGOOSE', serif;
    font-weight: 300;
    color: #727070;
  }

  .google {
    color: #565353;
  }

  .naver {
    color: #737171;
    font-family: 'COCOGOOSE', serif;
    font-weight: 300;
  }

  .daumk {
    color: #868080;
  }

  .airbnb {
    width: 60px;
    height: 30px;
  }

  .foot-note {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background: #d2d2d2;
    gap: 40px;
    justify-content: center;
  }

  .address {
    display: flex;
    flex-direction: column;
  }
}
